.boton-no {
    position: absolute;
    left: 300px;
    top: 300px;
    height: 50px;
    width: 50px;
}

.boton-si {
    position: absolute;
    left: 350px;
    top: 300px;
    height: 50px;
    width: 50px;
}